/* ----- */
header{
    background-color:#ffe9dc;
    color: #c99789;
    font-size: 30px;
    font-weight:bold;
    height: 30px;
    width: auto;
    text-align: center;
    margin: 108px 20px 0px 20px;
    padding: 20px 20px 20px 20px;
    opacity: .9;
    display: inline-block;
    float:left;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

   
}
/* ----- */
.nav{
    text-align:right;
    font-size: 18px;  
    margin: 0px 10px -5px 0px;
    padding: 70px 0px 0px 0px;
    height: 100% ;
    float:right;
    
   
}

/* unvisited link */
 a:link {
    color:#bf6a53;
  }
  
  /* visited link */
  a:visited {
    color: gray;
  }
  
  /* mouse over link */
   a:hover {
    color: purple;
  }
  
  /* selected link */
  a:active {
     color: purple;
  } 

button {
    background-color: #ffe9dc;
    color:#c99789;
    font-weight: bold;
    opacity: .7;
    display: inline-flexbox;
    border-radius: 5px;
    border-style: solid ; 
    height: 30px;
    width: 100%;
    position: static;
    box-align: right;
    display: block;
    float:left;
}

button:hover {
    background-color: #c99789;
    color: white;
}

hr {
    display: block;
    margin-top: 50px;
    margin-bottom: 70px;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 1px;
    border-radius: 1px ;
    background-color:#f0e4e4;
    width: 100%;
}

 img {
    width: 100px;
    height: 100px;
    float: left;
    padding: 0px 30px 0px 0px ; 
    margin: 0px 20px 10px 5px;
}

.container{
    background-color:#ffe9dc;
    color: #c99789;
    height: 300px;
    width: 600PX;
    padding: 0px 30px 0px 30px ;
    margin: 0px 20px 10px 200px;
    text-align: left;
    border-radius: 7px ;
    opacity: .9;
    float: left;
    overflow:auto;   
}

.containercontact{
    background-color:#ffe9dc;
    color: #c99789;
    height: 300px;
    width: 600px;
    padding: 0px 30px 0px 30px ;
    margin: 0px 20px 10px 400px;
    text-align: center;
    border-radius: 7px ;
    opacity: .9;
    float: left;
    overflow:auto;   
}

h2{ 
    text-align: left;
}

body {
    background-color:#dec3c3 ;
    color:#ffe9dc;
    min-height: 100%;
    padding:0; 
    margin:0; 
    position:relative;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-size:cover;
    font-family: Handlee, cursive ;
}

p {
    font-weight:bold;
    text-align: left;
}

.form { 
    text-align: center;
    font-size: 24px;

}

.clearfix::after {
    content: "";
    display:block;
    clear: both;

}

.clearfix{ 
   
    height: 10px;
    padding:0; 
    margin:0; 
    position:auto; 
}

footer {
    background-color: #c99789;
    border-top: solid 5px #dec3c3;
    text-align: center;
    position: fixed;
    height:30px;
    left:0;
    bottom:0;
    width:100%;    
}
